{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geospatial
{% endcomment %}

{% if site.curriculum == "dc-geospatial" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Monday 22 March 2021 </h3>
    <table class="table table-striped">
      <tr>
        <td>Morning<br>(9:30-10:15)</td>
        <td><a href="https://datacarpentry.org/organization-geospatial/">Introduction to geospatial concepts and the datasets<br>(Stacy)</a>
        </td>
      </tr>
      <tr>
        <td>Morning<br>(10:15-11:15)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/01-raster-structure/index.html">Intro to raster data<br>(Stacy)</a>
        </td>
      </tr><tr>
        <td>     </td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Morning<br>(11:30-12:30)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/02-raster-plot/index.html">Plot raster data<br>(Stacy)</a>
        </td>
      </tr>
      <tr>
        <td>Break</td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:30-14:30)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/03-raster-reproject-in-r/index.html">Reproject raster data<br>(Johannes)</a>
        </td>
      </tr>
      <tr>
        <td>     </td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br><br>(14:45-17:00)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/04-raster-calculations-in-r/index.html">Raster calculations<br>(Johannes)</a>
        </td>
      </tr>
	 <tr>
        <td>Afternoon<br><br>(14:45-17:00)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/05-raster-multi-band-in-r/index.html">Work with multi-band rasters<br>(Johannes)</a>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
   <h3>Day 2: Tuesday 23 March 2021 </h3>
    <table class="table table-striped">
      <tr>
        <td>Morning<br>(9:30-10:00) </td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/06-vector-open-shapefile-in-r/index.html">Open and plot shapefiles<br>(Stacy)</a>
        </td>
      </tr>
	<tr>
        <td>Morning<br>(10:00-11:00) </td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/07-vector-shapefile-attributes-in-r/index.html">Explore and plot by shapefile attributes<br>(Stacy)</a>
        </td>
      </tr>
      <tr>
        <td>     </td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Morning<br>(11:15-12:00)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/08-vector-plot-shapefiles-custom-legend/index.html">Plot Multiple Shapefiles<br>(Stacy)</a>
        </td>
      </tr>
      <tr>
        <td>Break</td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:00-15:00)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/09-vector-when-data-dont-line-up-crs/index.html">Handling spatial projection & CRS<br>(Johannes)</a>
        </td>
      </tr>
      <tr>
        <td>     </td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:15-17:00)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/10-vector-csv-to-shapefile-in-r/index.html">Convert from .csv to a shapefile<br>(Johannes)</a>
        </td>
      </tr>
	 <tr>
        <td>Afternoon<br>(13:00-15:00)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/11-vector-raster-integration/index.html">Manipulate raster data<br>(Johannes)</a>
        </td>
      </tr>
    </table>
  </div>
</div>



{% elsif site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr>
        <td>Afternoon</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Introduction to Python</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
      </td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Continuation of Python: Data analysis and Visualization</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
        </td>
      </tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% else %}
{% include warning-curriculum.html %}
{% endif %}
