{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-geospatial" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Thursday 12 March 2020 <br>(Room D1.112)<br> </h3>
    <table class="table table-striped">
      <tr>
        <td>Morning <br>(9:30-11:15)</td>
        <td><a href="https://datacarpentry.org/organization-geospatial/">Introduction to geospatial concepts and the datasets <br>(Stacy)</a>
	    <br><a href="https://datacarpentry.org/organization-geospatial/"> Intro to raster data in R <br>(Zsofia)</a>
        </td>
      </tr>
      <tr>
        <td>Coffee/tea break</td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Morning <br>(11:30-12:30)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Plot raster data in R <br>(Zsofia)</a>
        </td>
      </tr>
      <tr>
        <td>Break</td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Afternoon <br>(13:30-14:30)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Reproject raster data in R <br>(Bart)</a>
        </td>
      </tr>
      <tr>
        <td>Coffee/tea break</td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Afternoon <br>(14:45-17:00)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Raster calculations in R <br>Work with multi-band rasters in R <br>(Bart)</a>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
   <h3>Day 2: Friday 13 March 2020 <br>(Room A1.04: morning sessions)<br>(Room B0.203: afternoon sessions)</h3>
    <table class="table table-striped">
      <tr>
        <td>Morning <br>(9:30-11:00) </td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Open and plot shapefiles in R <br>Explore and plot by shapefile attributes <br>(Stacy)</a>
        </td>
      </tr>
      <tr>
        <td>Coffee/tea break</td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Morning <br>(11:15-12:00)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Plot Multiple Shapefiles in R <br>(Stacy)</a>
        </td>
      </tr>
      <tr>
        <td>Break</td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Afternoon <br>(13:00-15:00)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Handling spatial projection & CRS in R <br>Convert from .csv to a shapefile in R <br>(Johannes)</a>
        </td>
      </tr>
      <tr>
        <td>Coffee/tea break</td>
	      <td>  </td>
      </tr>
      <tr>
        <td>Afternoon <br>(15:15-17:00)</td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Manipulate Raster Data in R <br>(Johannes)</a>
        </td>
      </tr>
    </table>
  </div>
</div>



{% elsif site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr>
        <td>Afternoon</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Introduction to Python</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
      </td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Continuation of Python: Data analysis and Visualization</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
        </td>
      </tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% else %}
{% include warning-curriculum.html %}
{% endif %}
