<p id="who">
  <strong>Who:</strong>
  The course is aimed at masters students, PhD students, postdocs and researchers. Preference will be given to people affliated with the University of Amsterdam.
  It is important for the organizers to know how many participants will be there so we can make sure there are enough helpers, so please reserve your space in advance. 
  We will restrict the course to a maximum of 30 participants.
  You should have a basic working knowledge of R, but you don't need to have any previous experience working with geospatial data. 
    <strong>If you would like to refresh your R skills before the course, you can complete this  
    <a href="https://datacarpentry.org/r-intro-geospatial/">lesson.</a>
    </strong>
  You should have a computer with a Mac, Linux, or Windows operating system (not a tablet, Chromebook, etc.) with a solid internet connection 
  and <strong>you should 
  <a href="https://datacarpentry.org/geospatial-workshop/setup.html">download the data and install R and RStudio on your computer </a>before the course.</strong>
</p>
