<p id="who">
  <strong>Who:</strong>
  The course is aimed at masters and PhD students and other researchers. 
  It is important for the organizers to know how many participants will be there so we can make sure there are enough helpers, so please reserve your space in advance. 
  We will restrict the course to a maximum of 20 participants.
  <strong>
    You should have a basic working knowledge of R, but you don't need to have any previous experience working with geospatial data. 
    If you would like to refresh your R skills before the course, you can complete this  
    <a href="https://datacarpentry.org/r-intro-geospatial/">lesson.</a>
  </strong>
  <strong>
    Participants must bring a laptop with a
    Mac, Linux, or Windows operating system (not a tablet, Chromebook, etc.) that they have administrative privileges on. 
    They should have a <a href="https://datacarpentry.org/geospatial-workshop/setup.html">few specific software packages installed</a>.
    </strong>
</p>
